<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container ">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
    				<div class="panel-heading">
    					<%= image_tag @posts.user.photo, :style=>"width:50px; height:50px;" %>&nbsp
    					<%= @posts.user.name %>
    						<span style="float:right; margin:10px 5px 0 0;"><%= link_to 'View' , post_path(@posts.id) %></span>
    					<% if @posts.user == current_user %>
    					<span style="float: right; margin:10px 5px 0 0;"><%= link_to 'Edit' , edit_post_path(@posts.id) %>&nbsp&nbsp&nbsp<%= link_to 'Delete' , post_path(@posts.id) , method: :delete %></span>
    					<% end %>
    				</div>
   				    <div class="panel-body">
    					<div class="row">
							<div class="col-md-6">
								<div class="thumbnail" style="margin:0 auto; border:none; ">
									<%= image_tag @posts.photo %>
									<div class="caption">
										<p style="border-bottom:1px solid #e5e5e5; padding-bottom:5px"><%= @posts.description %></p>
										<section>12 likes</section>
										<a href="#"><i class="fa fa-heart-o" style="font-size:28px; color:#b9b9b9;"></i></a>
								&nbsp&nbsp&nbsp
										<a href="#"><i class="fa fa-comment-o" style="font-size:30px; color:#b9b9b9;"></i></a>
									</div>
								</div>
							</div>
						</div>	
    				</div>
    				<div class="panel-footer">
    					<% @posts.comments.each do |comment| %>
    						<div class="panel-footer" style="border:none">
    							<%= image_tag comment.user.photo, :style=>"width:30px; height:30px; border-radius:50%;" %>&nbsp
    							<span style="color:blue;">
    								<%= comment.user.name%>		
    								</span>
    								<span style="float:right;">
    									<%= link_to 'Delete' , post_comment_path(post_id: post.id,comment_id: comment.id) , method: :delete  %>
    								</span> 
    							<div class="container">
    								<%= comment.text %>							
    							</div>
    						</div>
    					<% end %>
    				</div>
    				<div class="panel-footer">
    					<% if user_signed_in? %>
  							<%= simple_form_for Comment.new, url: post_comments_path(@posts), method: :post do |f| %>
    								<%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
   									 <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  									<% end %>
							<% end %>
    				</div>		
  				</div>
			</div>
		</div>
	</div>	
</body>
</html>