<!DOCTYPE html>
<html>
  <head>
    <title>Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div id="wrapper">  
      <% if user_signed_in? %>
  	   <%= render 'shared/navbar' %>
      <% end %> 
      
      <%= yield %>

  </div>
    <div class="container">
      <%= render 'shared/footer' %>
     </div>
  </body>
</html>
